<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Viajes previstos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="addViaje()">+ Añadir viaje</ion-button>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>{{ viaje.destino }} ({{ viaje.fecha }})</h2>
        <p>{{ viaje.descripcion }}</p>
      </ion-label>
      <ion-button color="danger" fill="clear" slot="end" (click)="deleteViaje(viaje.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
